@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h3>Please select one of the following:</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>@Html.ActionLink("Numbers To Words", "ToWords", "Home")</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>@Html.ActionLink("Number Palidrome Test", "NumberPalidromeTest", "Home")</h3>
    </div>
</div>